.col1{
    justify-content: flex-end;
}
.card-body {
    padding: 8px;
}
.card-header {
    background-color: white;
}
.same-height {
    height: 400px;
    width: 100%;
}
.img-one-grid {
    width: 100%;
    max-height: 600px;
    object-fit:cover;
}